@import "../../../mixin.scss";

.header-menu-item {
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  transition: background 0.2s;

  a {
    text-decoration: none;
    color: $white;
    display: flex;

    svg {
      font-size: 1.375rem;
      margin-right: 0.4rem;
    }
  }

  &:first-child {
    margin-right: 0.75rem;
  }

  &:hover {
    background: $cyan_dark;
    a {
      text-decoration: none;
      color: $white;
    }
  }

  &.active {
    background: $cyan_dark;
  }
}